<%- include('../partials/adminHeader.ejs')%>


<div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content borderradius-remove">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Category</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <form action="" method="post" id="form" name="form">
                    <div class="form-outline">
                        <label for="resItemName" class="form-label">Name</label>
                        <input  value="<%= categoriesData.name %> " type="text" name="cat" class="form-control shadow-remove borderradius-remove"
                            placeholder="Food Category" id="resItemName" aria-describedby="emailHelp">
                    </div>
                    <div class="form-outline">
                      <label for="resItemName" class="form-label">Description</label>
                      <input value="<%= categoriesData.description %> " type="text" name="des" class="form-control shadow-remove borderradius-remove"
                          placeholder="description" id="resItemName" aria-describedby="emailHelp">
                  </div>
                    <br>
                   
    
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" 
                    class="btn btn-info text-white borderradius-remove shadow-remove" data-bs-dismiss="modal">
                    ADD
                </button>
              </form>


<%- include('../partials/footer.ejs')%>