<%- include('../partials/userheader.ejs')%>

				<div class="card-body" style="width: 900px;height: 100px;">
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card">
				<img class="card-img-top" src="https://i.pinimg.com/originals/09/2d/92/092d92ee0464aacd45b6b1f9e5382cf9.jpg" alt="" />
				<div class="card-body">
					<p class="h6"><small class="text-muted">steeve</small></br>Butterflies Hand composite</p>
					<p class="m-0">
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
						<i class="fa-xs far fa-star"></i>
					</p>
					<p class="h5 m-0">$782.00</p>
				</div>
				<div class="card-footer p-0">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-light">
							<i class="fas fa-cart-plus"></i>
							<span>Add Cart</span>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-heart"></i>
						</button>
						<button type="button" class="btn btn-light">
							<i class="fas fa-sync-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
        <%- include('../partials/userfooter.ejs')%>

